# =========================
# CLion / IntelliJ
# =========================
.idea/
*.iml

# =========================
# CMake build folders
# =========================
cmake-build-*/

# =========================
# Compiled output
# =========================
*.out
*.o
*.obj
*.exe

# =========================
# Debug / logs
# =========================
*.log

# =========================
# macOS system files
# =========================
.DS_Store

# =========================
# Windows system files (optional safety)
# =========================
Thumbs.db